<!--model DNP1_assignment.Models.Movie-->
<DNP1_assignment.Models.Seat>

    @{
        ViewData["Title"] = "BookNow";
        Layout = "~/Views/Shared/_LayoutClient.cshtml";
    }
    @functions{

        int x = 0;
        int y = 0;
        int[] GetMaxXY()
        {
            foreach (var item in Model)
            {
                if (x < item.XPosition)
                {
                    x = item.XPosition;
                }
                if (y < item.YPosition)
                {
                    y = item.YPosition;
                }
            }
            int[] array = new int[2];
            //array[0] = 10;
            //array[1] = 10;
            array[0] = x;
            array[1] = y;
            return array;
        }
        void FillSeats(Seat[,] seats)
        {

            foreach(var item in Model)
            {
                seats[item.Xposition, item.Yposition] = item;
            }
            /*for (int i = 0; i < 10; i++)
            {
                for (int j = 0; j < 10; j++)
                {
                    Seat tempSeat = new Seat();
                    tempSeat.XPosition = i;
                    tempSeat.YPosition = j;
                    //tempSeat.Payment = new Payment();
                    seats[i, j] = tempSeat;
                }
            }*/

        }


    }
    @{
        <h1>@GetMaxXY()[0], @GetMaxXY()[1]</h1>
        Seat[,] seats = new Seat[GetMaxXY()[0], GetMaxXY()[1]];
        FillSeats(seats);
    }

    <h4>
        <button type="button"><a asp-action="Index">Back to List</a></button>
    </h4>
    <h1 align="center">Select your booking for available seats</h1>
    <form method="post" asp-action="PaymentForm">
        <table class="table">
            <tbody>
                @for (int i = 0; i < GetMaxXY()[1]; i++)
                {

                    <tr>
                        @for (int j = 0; j < GetMaxXY()[0]; j++)
                        {
                            if (seats[x, y].Payment == null)
                            {
                                <td>
                                    <input type="checkbox" name="checkedItems" value="@i/@j" />
                                </td>
                            }
                            else
                            {
                                <td>
                                    <input type="checkbox" name="checkedItems" value="@i/@j" disabled="disabled" />
                                </td>

                            }

                        }

                    </tr>

                }
            </tbody>
        </table>
        <h1 align="center">Screen</h1>


        Name:<br />
        <input type="text" name="firstName" /><br />
        Card Number:<br />
        <input type="text" name="cardNumber" /><br />
        Expiration Month :<br />
        <input type="text" name="expMonth" /><br />
        Expiration Year :<br />
        <input type="text" name="expYear" /><br />
        Cvs : <br />
        <input type="text" name="cvs" /><br />
        <h4><button type="submit">Book now</button></h4>
    </form>
    



